html,
body {
	padding: 0;
	margin: 0;
	background: transparent;
	width: 100%;
	height: 100%;
}

/* Use OS default fonts */
body {
	font-family: -apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		'Helvetica Neue',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga', 'clig', 'kern';
}

.container {
	min-width: 100%;
	height: 100%;
}

.selectImageLbl span {
	position: relative;
	top: 45%;
}
.selectImageLbl {
	font-size: 30px;
	font-weight: 200;
	width: 100%;
	height: 100%;
	float: left;
	cursor: pointer;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
   	-ms-user-select: none;
   	user-select: none;
   	box-shadow: 0px 0px 2px black;
   	text-align: center;
}
.goImg{
	position: relative;
	top: 40%;
	left: 10%;
	cursor: pointer;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}
.spin{
	animation:spin 4s linear infinite;
	pointer-events: none;
}
.goImg:active{
	transform: scale(0.8);
}

.row {
	width: 80%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 10%
}
.col {
	width: 45%;
	height: 100%;
	float: left;
}
.col-sm{
	width: 10%;
	height: 100%;
	float: left;	
}
.imgBorder {
	box-shadow: 0px 0px 2px black;
}

#preview, #result{
	width: 100%;
}
#reloadBtn {
	position: relative;
    top: 10px;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
